* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {

  background-image: linear-gradient(45deg, #1e3a8a, #3b82f6, #93c5fd);
}


.card {

  width: 90%;
  height: 750px;
  margin: 10px auto;
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.card div {

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul{

  padding: 20px;
  border-radius: 20px;
  list-style-position: inside;
  background-image: linear-gradient(45deg, #7092ef, #134aa1, #3072be);
}


h1 {

  width: 100%;
  text-align: center;
}


button {

  width: 100%;
  height: 60px;
  font-size: 20px;
  border-radius: 8px;
  border-style: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 255, 0.5);
  background-image: linear-gradient(#a6d5eb, #84a8e3);
}

button:hover {

  width: 100%;
  height: 60px;
  font-size: 20px;
  border-radius: 8px;
  background-image: linear-gradient(#96cde7, #73a5f5);
}

.changeName {

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.changeName p {

  font-size: 40px;
}

input {

  width: 100%;
  height: 60px;
  outline: none;
  font-size: 28px;
  border-style: none;
  padding: 0px 12px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 255, 0.5);
  background-image: linear-gradient(#96cde7, #73a5f5);
}

input::placeholder {

  font-size: 20px;
  color: rgb(122, 122, 122);
}