* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

@font-face {
    font-family: 'poppins';
    src: url(./Assets/font/poppins/Poppins-Regular.ttf);
}

.poppins {
    font-family: 'poppins';
}

body {

    font-family: 'poppins';
    background-color: black;
    color: white;

}

.sider {
    width: 20px;
    height: 250px;
    background-color: rgb(9, 112, 85);
    border-radius: 50px 0px 0px 50px;

    position: absolute;
    top: 200px;
    right: 0;
}

/* ---------------- main started -------------------------- */
.main {

    width: 170px;
    height: 100%;
    background-color: rgb(9, 112, 85);
    /* transition: all 1.8s; */

    position: absolute;
    right: 0;

    display: none;
}

.main .parent_1 .child_1 {

    width: 90px;
    height: 90px;
    margin: 40px auto;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}


.main .parent_1 .child_1 i {

    width: 100%;
    height: 100%;
    font-size: 60px;
    color: rgb(252, 225, 15);

    display: flex;
    justify-content: center;
    align-items: center;
}


.main .parent_2 {

    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    margin: 20px auto;

}


.main .parent_2 .child_1{

    width: 110px;
    height: 110px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 50px;
    border-style: none;
    border-radius: 100px;
    color: rgb(9, 112, 85);
    background-color: rgb(252, 225, 15);
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.main .parent_2 .child_1:hover{

    font-size: 60px;
    transition: all 1s;
    border-style: none;
    color: rgb(252, 225, 15);
    background-color: transparent;
    border: 6px solid rgb(252, 225, 15);
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.main .parent_2 .child_2 {

    width: 160px;
    height: 60px;
    margin: 0 auto;
}


.main .parent_2 .child_2 button {

    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    border-style: none;
    border-radius: 20px;
    color: rgb(9, 112, 85);
    background-color: rgb(252, 225, 15);
}


.main .parent_2 .child_2 button:hover{

    font-size: 30px;
    transition: all 1s;
    border-style: none;
    color: rgb(252, 225, 15);
    background-color: transparent;
    border: 3px solid rgb(252, 225, 15);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------- main ended -------------------------- */



/* ---------------- main_2 started -------------------------- */
.main_2 {

    width: 100%;
    height: 120px;
    background-color: rgb(9, 112, 85);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;

}

.main_2 .parent_1{

    width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main_2 .parent_2 {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.main_2 .parent_2 button{

    width: 160px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border-style: none;
    border-radius: 12px;
    background-color: rgb(252, 225, 15);
    border-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_2 .parent_2 button:hover{

    font-size: 22px;
    background-color: transparent;
    color: rgb(252, 225, 15);
    border: 3px solid rgb(252, 225, 15);
    transition: all 0.5s;
}


/* --------------------------- main-2 profile started -----------------------------*/

.main_2 .parent_2 {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_2 #back{
    
    width: 160px;
    height: 60px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    border-style: none;
    border-radius: 12px;
    color: black;
    background-color: rgb(252, 225, 15);
    
    
}

.main_2 #back:hover{
    
    font-size: 33px;
    transition: all 0.5s;
    color: rgb(252, 225, 15); 
    background-color: rgb(9, 112, 85);
    border: 3px solid rgb(252, 225, 15);
}

/* --------------------------- main-2 profile ended -----------------------------*/
/* --------------------------- main-2 home ended -----------------------------*/


.profile_box{
    
    width: 90%;
    height: 100%;
    padding: 20px;
    color: #000000;
    margin: 100px auto;
    border-radius: 20px;
    background-color: rgb(9, 112, 85);
    border: 5px dotted rgb(252, 225, 15);
}


.profile_box h1{

    width: 100%;
    text-align: center;
    font-size: 45px;
    color: rgb(252, 225, 15);
    background-color: rgb(9, 112, 85);
}


.profile_box .parent_1{

    width: 100%;
    margin-top: 60px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile_box .parent_2{
    
    display: none;
}


.profile_box .parent_1 .div1{
    
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.profile_box .parent_1 .div2{

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.profile_box .parent_1 .div3{

    width: 50%;

    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.profile_box .parent_1 div p{

    font-size: 30px;
}

/* ------------------------------- box-1 started --------------------------------------- */

.Blog{
    width: 60%;
    font-size: 56px;
    margin: 10px auto;
    text-align: center;
    color: rgb(9, 112, 85);
    border-radius: 18px 18px 0px 0px;
    border: 10px solid rgb(9, 112, 85);
    
    border-bottom: none;
}

.box_1{

    width: 60%;
    height: 100%;
    padding: 20px;
    margin: 1% auto;
    border-radius: 0px 0px 18px 18px;
    color: rgb(252, 225, 15);
    background-color: rgb(9, 112, 85);
}

.box_1 .parent{

    display: flex;
    flex-direction: column;
}


.box_1 .parent label{

    font-size: 25px;
    font-weight: 500;
}

.box_1 .parent input{

    width: 100%;
    height: 40px;
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 15px;
    background-color: black;
    color: rgb(219, 217, 217);
}

.box_1 .parent input::placeholder{
    
    font-weight: 500;
}

.box_1 .parent textarea{

    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 15px;
    background-color: black;
    color: rgb(219, 217, 217);
}

.box_1 .parent textarea::placeholder{
    
    font-weight: 500;
}

.box_1 div #submit{
    
    width: 100%;
    
}

.box_1 #submit{
    
    width: 140px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 225, 15);
}

.box_1 #submit:hover{
    
    font-size: 28px;
    transition: all 0.6s;
    color: rgb(252, 225, 15);
    background-color: transparent;
    border: 3px solid rgb(252, 225, 15);
}


/* ------------------------------- box-1 ended --------------------------------------- */


/* ------------------------------- small_box started --------------------------------------- */

.Container_small_box{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0px 10px;
    gap: 20px;

    margin: 12px auto;

}

.small_box{
    
    width: 17%;
    border-radius: 4px 4px 20px 20px;
    background-color: rgb(9, 112, 85);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.small_box .parent_1{
    
   width: 100%; 
   height: 100%;
   padding: 10px;
   margin: 0 auto;

}

.small_box .parent_1 img{
    
    width: 100%;
    margin: 0px auto;
    border-radius: 18px;
    margin-bottom: 20px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: start;
}

.small_box .parent_1 div{
    
   margin-bottom: 10px;
}

.small_box .parent_1 div h1{
    
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 8px;
   color: rgb(252, 225, 15);
}

.small_box .parent_1 div p{
    
   font-size: 15px;
   font-weight: 400;
   color: black;
}


.small_box .parent_2{
    
   width: 100%; 
   padding: 15px;
   margin: 0 auto;
   color: rgb(0, 0, 0);

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.small_box .parent_2 div{

    line-height: 24px;
    cursor: pointer;
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.small_box .parent_2 div i{
    
   font-size: 20px;
   color: rgb(252, 225, 15);
   font-weight: 800;
}

/* ------------------------------- small_box ended --------------------------------------- */

@media (max-width: 768px) {
    

.main_2{

    gap: 0;

}
    

.main_2 .parent_1{

    width: 120px;
}

.main_2 .parent_2 button{

    width: 140px;
    height: 55px;
    font-size: 20px;
}


.main_2 .parent_2 {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_2 #back{
    
    width: 140px;
    height: 55px;
    font-size: 25px;

}


.profile_box .parent_1{

    width: 100%;
    margin-top: 60px;

    display: flex;
    justify-content: center;
    gap: 20px;
    display: none;
}


.profile_box .parent_2{

    width: 100%;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


.profile_box .parent_2 .div1{


    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile_box .parent_2 .div2{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile_box .parent_2 .div3{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}


.profile_box .parent_2 div p{

    font-size: 20px;
}


.profile_box .parent_2 div #para{

    font-weight: 800;
}


/* ------------------------------- box-1 started --------------------------------------- */

.Blog{
    width: 80%;

}

.box_1{

    width: 80%;

}


/* ------------------------------- box-1 ended --------------------------------------- */


/* ------------------------------- small_box started --------------------------------------- */

.small_box{
    
    width: 40%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(9, 112, 85);
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

/* ------------------------------- small_box ended --------------------------------------- */

}


@media (max-width: 425px) {
    
   .main_2 {

    height: 90px;
    gap: 50px;

}

.main_2 .parent_1{

    width: 90px;
}

.main_2 .parent_2 button{

    width: 120px;
    height: 50px;
    font-size: 18px;
}

/* --------------------------- main-2 profile started -----------------------------*/

.main_2 #back{
    
    width: 120px;
    height: 50px;
    font-size: 18px;
}

/* --------------------------- main-2 profile ended -----------------------------*/



/* ------------------------------- box-1 started --------------------------------------- */

.Blog{
    width: 90%;

}

.box_1{

    width: 90%;

}
/* ------------------------------- box-1 ended --------------------------------------- */



/* ------------------------------- small_box started --------------------------------------- */

.small_box{
    
    width: 80%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(9, 112, 85);
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

/* ------------------------------- small_box ended --------------------------------------- */
}

