*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white;  */
}

@font-face {
    font-family: 'poppins';
    src: url(./Assets/font/poppins/Poppins-Regular.ttf);
}

.poppins{
    font-family: 'poppins';
}

body{
    
    font-family: 'poppins';
    background-color: black;
    
}   

/* Navbar started */

.nav{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 550px;
}

.nav .button{

    display: flex;
    flex-direction: row;
    align-items: center;
}


.nav .button button{

    width: 150px;
    height: 60px;
    background-color: #ffdd00;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
    border-style: none;
    
}

.nav .button button:hover{

    background-color: black;
    color: #ffdd00;
    border: 2px solid #ffdd00;
}

/* Navbar ended */


h1{
    padding: 10px;
    font-size: 45px;
    color: #ffde00;
    text-align: center;
    background-color: #097054;
    border: 5px solid #ffde00;
    border-radius: 0px 0px 20px 20px;

    border-bottom: none;
}    

.form{
    
    /* border: 3px solid black; */
    /* border-radius: 60px; */
    width: 50%; 
    height: 580px;   
    margin: 15px auto;
    box-shadow: none;
    border-radius: 16px;
    
}       

form{
    
    width: 100%;    
    height: 500px;
    padding: 10px 20px;  
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #097054;
    border-radius: 66px !important;
    border: 5px solid #ffde00;
    border-top: none;
}   
    

label{
    
    width: 60%;
    font-size: 25px;
    color: #ffde00;
    font-weight: 800;
}    

input{
    
    width: 60%;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0px 8px 8px 8px;
    background-color: black;
    color: #ffde00;
    outline: none;
}    


input:focus{
    
    background-color: rgb(17, 17, 17);
    color: white;
}    


.signin{

    width: 200px;
    /* width: 120px; */
    height: 60px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #ffde00;
}    


.signin:hover{

    font-size: 24px;
    color: #ffdd00;
    background-color: black;
    border: 2px solid #ffdd00;
}    


@media (max-width: 1024px) {
    
/* Navbar started */

.nav{

    gap: 200px;
}
/* Navbar ended */


.form{

    width: 80%; 
    height: 600px;       
}       

.main{
    
    width: 100%;    
    height: 100%;
    padding: 30px 20px;  
}          

}

@media (max-width: 520px) {
    
 
/* Navbar started */

.nav{

    gap: 0px;
}

.nav .logo img {
    width: 100px;
}

.nav .button button{

    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}
/* Navbar ended */

.form{

    width: 90%; 
    height: 600px;   

}       

h1{
    
    padding: 10px 0px;
    font-size: 35px;
}    


.main{
    
    width: 100%;    
    height: 100%;
    padding: 20px 10px;  
    margin: 0 auto;
}       

label{
    
    width: 80%;
    font-size: 20px;
}    

input{
    
    width: 80%;
    height: 60px;
    font-size: 20px;
}

}

@media (max-width: 320px) {
    
/* Navbar started */

.nav{

    gap: 100px;
}

.nav .logo img{

    width: 80px;
}

.nav .button button{

    width: 80px;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;    
}

/* Navbar ended */

.form{
    
    width: 95%; 
    height: 660px;       
}       


h1{
    padding: 5px;
    font-size: 30px;
}    

.main{
    
    width: 100%;    
    height: 100%;
    padding: 0px 10px;  
}       

label{
    
    width: 95%;
    font-size: 20px;
}    

input{
    
    width: 95%;
    height: 60px;
    font-size: 20px;
}    


.signin{

    width: 150px;
    /* width: 120px; */
    height: 45px;
    font-size: 20px;
}    

}
