.App {
  text-align: center;
}

.App-header .App-parent_1 .App-logo {
  height: 5vmin;
  pointer-events: none;
}


.App-header {

  height: 80px;
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App-header .App-parent_2 {
  
  display: flex;
  gap: 25px;
}

.App-header .App-parent_2 a{
  
  font-size: 14px;
  color: #68696e;
  text-decoration: none;
}

.App-header .App-parent_2 a:hover{
  
  color: #232323;
}

.App-header .App-parent_3 {
  
  display: flex;
  gap: 25px;
}

.App-header .App-parent_3 {
  
  display: flex;
  gap: 5px;
}

.App-header .App-parent_3 .App-login {
  
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #686d7b;
  font-weight: 600;
  background-color: transparent;
}

.App-header .App-parent_3 .App-login:hover {
  
  color: #505050;
  background-color: rgb(239, 238, 238);
}

.App-header .App-parent_3 .App-get {
  
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  background-color: #513deb;
}

.App-header .App-parent_3 .App-get:hover {
  
  background-color: #968bed;
}

.App-header App-parent_4{
  
  font-size: 30px;
  color: red;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  
  /* .App-header .App-parent_2{

  } */
}
