*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.main{

    width: 100%;
    height: 99.8vh;
    background-color: rgb(232, 229, 229);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.main div{

    width: 90%;
    height: 140px;
    margin: 0 auto;
    color: white;
    border-radius: 70px;
    background-color: black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main div img{
    
    background-color: white;
    border-radius: 50px;
}

.main div .minus{
    
    border: 6px solid white;
}

.main div img:active{
    
    background-color: black;
    border-color: black;
    border-radius: 50px;
}

.main .oneButton{
    
    overflow: hidden;
}

.main .TwoButton{
    
    overflow: hidden;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.main .oneButton button{
    
    width: 100%;
    height: 100%;
    color: rgb(228, 227, 227);
    font-size: 60px;
    background-color: black;
}

.main .TwoButton{
    
    background-color: white;
}

.main .TwoButton button{
    
    width: 100%;
    height: 100%;
    color: rgb(228, 227, 227);
    font-size: 60px;
    background-color: black;
}

