*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

div{

    width: 100%;
    height: 97vh;
    background-color: rgb(232, 229, 229);

    display: flex;
    justify-content: center;
    align-items: center;
}

div div{

    width: 90%;
    height: 140px;
    margin: 0 auto;
    color: white;
    border-radius: 70px;
    background-color: black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div img{
    
    background-color: white;
    border-radius: 50px;
}

div .minus{
    
    border: 6px solid white;
}

div img:active{
    
    background-color: black;
    border-color: black;
    border-radius: 50px;
}

