h1 {

    text-align: center;
    background-color: skyblue;
}

p {

    text-align: center;
}

tr>th {

    text-align: center;
    color: red;
    width: 500px;
    border: 1px solid black;
}

tr>td {

    text-align: center;
    border: 1px solid black;
    color: black;

}